
@font-face {font-family: 'neosanslight';
            src: url('fonts/neosans-light-webfont.eot');
            src: url('fonts/neosans-light-webfont.eot?#iefix') format('embedded-opentype'),
                url('fonts/neosans-light-webfont.woff2') format('woff2'),
                url('fonts/neosans-light-webfont.woff') format('woff'),
                url('fonts/neosans-light-webfont.ttf') format('truetype'),
                url('fonts/neosans-light-webfont.svg#neosanslight') format('svg');
            font-weight: normal;
            font-style: normal;
}
@font-face {font-family: 'Conv_Neo Sans Std Regular';
            src: url('fonts/Neo Sans Std Regular.eot'),
                url('fonts/Neo Sans Std Regular.woff') format('woff'),
                url('fonts/Neo Sans Std Regular.ttf') format('truetype'),
                url('fonts/Neo Sans Std Regular.svg') format('svg');
            font-weight: normal;
            font-style: normal;
}
@font-face {font-family: 'Conv_Neo Sans Std Bold';
            src: url('fonts/Neo Sans Std Bold.eot'),
                url('fonts/Neo Sans Std Bold.woff') format('woff'),
                url('fonts/Neo Sans Std Bold.ttf') format('truetype'),
                url('fonts/Neo Sans Std Bold.svg') format('svg');
            font-weight: normal;
            font-style: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
    text-decoration:none;
    quotes:none;
    list-style:none;
}
html, body {
  height:100%;
}

html{
  scroll-behavior: smooth;
}

body:unresolved{
    opacity:0;
}
body{
    margin:0 ;
    padding:0;
    line-height:1;
    opacity:1;
    -webkit-text-size-adjust:none;
}
::-moz-selection { /* Code for Firefox */
    color: #ffffff;
    background: #000000;
}
::selection {
    color: #fecc04;
    background: #000000;
}
article, aside, footer, header, hgroup, nav, section, figure, figcaption{display:block; margin:0;}
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
input,textarea{-webkit-border-radius:0;border-radius:0;font-family: 'Conv_Neo Sans Std Regular', sans-serif;}
input[type=submit],
input[type=button]{-webkit-appearance:none;}
button{font-family: 'Conv_Neo Sans Std Bold', sans-serif;}
blockquote:before, blockquote:after, q:before, q:after{content: '';content:none;}
:focus{outline:0;}
::-moz-focus-inner {border:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
*, *:after, *:before {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}
li{
    transition: all 0.9s ease;
    outline:none;
    text-decoration: none;
    font-family: 'Conv_Neo Sans Std Regular', sans-serif;
}
a{
    transition: all 0.9s ease;
    outline:none;
    text-decoration: none;
    font-family: 'Conv_Neo Sans Std Regular', sans-serif;
}
.clearfloat{ clear:both;}
body h1{ font-size:32px;font-family: 'Conv_Neo Sans Std Bold', sans-serif;}
body h2{ font-size:20px;font-family: 'Conv_Neo Sans Std Bold', sans-serif;}
body h3{ font-size:18px;font-family: 'Conv_Neo Sans Std Bold', sans-serif;}
body h4{ font-size:16px;font-family: 'Conv_Neo Sans Std Bold', sans-serif;}
body h5{ font-size:14px;font-family: 'Conv_Neo Sans Std Bold', sans-serif;}
body h6{font-size: 0.9em;font-family: 'Conv_Neo Sans Std Bold', sans-serif;}
body p{
    font-size: 14px;
    line-height:normal;
    font-weight: normal;
    font-family: 'Conv_Neo Sans Std Regular', sans-serif;
}
img{
    width:100%;
    display:block;
    transition:all 1s ease;
    margin: auto;
}

img:hover{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition:all 1s ease;
}
.container{
    width: 100%;
    float: left;
}

.header{
	float: left;
	width: 100%;
}
.left_header{
	float: left;
	width: 40%;
	margin-top: 3em;
}
.left_header ul li{
	margin-left: 40px;
}
.left_header ul li:first-child{
	margin-left: 0;
}
.center_header{
	float: left;
	width: 20%;
	text-align: center;
	padding: 20px 0;
}
.center_header img{
	margin-top: .4em;
}
.right_header{
	float: right;
	width: 40%;
	text-align: right;
	margin: 1.7em 0;
}
.right_header ul li{
	margin-right: 40px;
}
.right_header ul li:last-child{
	margin-right: 0;
}
.login_btn{
	background-image: url(../images/login_icon.png);
	background-repeat: no-repeat;
	background-position: 99%;
	padding-right: 20px;
}
.login_btn:hover{
	background-image: url(../images/login_icon_hover.png);
}
/*.right_header ul li span{
    margin-top: 3px;
    float: right;
    margin-left: 7px;
}*/
.header ul{
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}
.header ul li{
	list-style: none;
	display: inline-block;
}
.header a{
	color: #575757;
	font-size: 15px;
}
.header a:hover{
	color: #177540;
}

.header a.active-header-link{
  color: #0d6f42;
  font-weight: bold;
}
.center_aligner{
	width: 70%;
	margin: auto;
}
.global_website{
	margin-bottom: 14px;
}
.mega_menu{
	width: 100%;
	border-top: 1px solid #e9e9e9;
	transition: all .35s ease-in-out;
	background: #fcfcfc;
	background: -moz-linear-gradient(top, #fcfcfc 0, #e8e8e8 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0, #fcfcfc), color-stop(100%, #e8e8e8));
	background: -webkit-linear-gradient(top, #fcfcfc 0, #e8e8e8 100%);
	background: -o-linear-gradient(top, #fcfcfc 0, #e8e8e8 100%);
	background: -ms-linear-gradient(top, #fcfcfc 0, #e8e8e8 100%);
	background: linear, to bottom, #fcfcfc 0, #e8e8e8 100%;
	float: left;
}

.active-mega-menu {
	position: relative;
	background: #fcfcfc;
	border: 1px solid #e9e9e9;
}
.active-mega-menu:after, .active-mega-menu:before {
	bottom: 100%;
	left: 16.5%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.active-mega-menu:after {
	border-color: rgba(252, 252, 252, 0);
	border-bottom-color: #fcfcfc;
	border-width: 10px;
	margin-left: -10px;
}
.active-mega-menu:before {
	border-color: rgba(233, 233, 233, 0);
	border-bottom-color: #e9e9e9;
	border-width: 11px;
	margin-left: -11px;
}

.business-mega:after, .business-mega:before{
  left: 21.7%;
}

.treasury-mega:after, .treasury-mega:before{
  left: 27%;
}
.mega_nav{
	width: 80%;
}
.mega_nav li{
	margin-left: 50px;
	padding: 15px 0;
}
.mega_nav li:first-child{
	margin-left: 0;
}
.mega_nav li img{
	float: left;
	margin-right: 10px;
  width: 27px;
}
.mega_nav li a{
	line-height: 50px;
	border-right: 1px solid #dad9d9;
	padding-right: 40px;
}
.mega_nav li:last-child a{
	border: none;
}
.mega_nav li:last-child{
	float: right;
}

.mobile-navigation{
    width: 100%;
    float: left;
    background-color: #ffffff;
    position: relative;
    padding: 0px 0 0 0;
    display: none;
}
.menu-icon{
  float: right;
  padding: 0px 0 0 0;
}
.mobile-logo-wrapper{
    /*width: 25%;*/
    float: left;
    padding: 10px 0px 10px 10px;
}

.mobile-logo-wrapper img{
    width: 190px;
}

.mobile-search{
  width: 100%;
  float: left;
  position: relative;
}

.mobile-search input{
  width: 100%;
  float: left;
  background-color: #e4fdef;
  border: none;
  padding: 1.5em 5em 1.5em 1.5em;
}

.mobile-search button{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #aa2236;
  /* width: 2.3em;
    height: 2.3em; */
  border: none;
  margin: auto;
  text-align: center;
  color: #ffffff;
  padding: 0 0 1px 1px;
  cursor: pointer;
  transition: all 0.9s ease;
  font-size: 16px;
  padding: 0 15px 0 15px;
}

.mobile-search button:hover{
  background-color: #ffc551;
  color: #002366;
  transition: all 0.9s ease;
}
.mobile-navigation ul{
    width: 100%;
    margin: auto;
    padding: 0px 0 0 0;
    float: left;
    background-color: #fff;
}
.mobile-navigation ul li{
    display: block;
    width: 100%;
    float:left;
    text-align: left;
    /* border-bottom: 1px solid #b5c11a; */
}
.mobile-navigation ul li a{
    color: #0d6f42;
    text-transform: uppercase;
    padding: 1.3em;
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(13, 111, 66, 0.25);
    font-size: 13px;
}
.mobile-navigation ul li a.active-mobile-link{
    background-color: #ffc551;
    color: #092d79;
}

.mobile-navigation ul li a img{float: left;width: 25px;padding: 0 0px 0 0;margin: -7px 20px 0 0px;}

.mobile-navigation ul li a span{padding: 9px 0 0 20px;float: left;}
.mobile-navigation ul li a.visible-link i {
    float: right;
}
.mobile-navigation ul li a.visible-link2 i {
    float: right;
}
.mobile-navigation ul li a.visible-link3 i {
    float: right;
}
.invisible-links{
  display: none;
}
.invisible-links2{
  display: none;
}
.invisible-links3{
  display: none;
}
.invisible-links ul {
    background-color: #f5fff9;
    padding: 20px;
}
.invisible-links2 ul {
    background-color: #f5fff9;
    padding: 20px;
}
.invisible-links3 ul {
    background-color: #f5fff9;
    padding: 20px;
}

.hidden-mobile{
    width: 100%;
    float: left;
    display: none;
}
.drop-bars{
    float: right;
    padding: 0 2%;
    color: #ffffff;
    font-size: 2em!important;
    cursor: pointer;
}

#toggle {
    display: none;
}

#cross {
    display: none;
}
#toggle + label {
    display: inline-block;
    float:right;
    padding: 10px 5px;
    width:auto;
}
#toggle + label:before{
    display: none;
}

#toggle + label:after{
    display: none;
}

#toggle + label i {
    font-size: 2em;
    color: #aa2236;
}
#toggle:checked + label i#bars {
    display: none;
}
#toggle:checked + label i#cross {
    display: block;
}
#toggle:checked ~ #menu {
    height: 85px;
}
.search{
	background-image: url(../images/search_icon.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 17px;
	padding: 0!important;
	margin-top: 2em;
}
.search:hover{
	background-image: url(../images/search_icon_hover.png);
	background-repeat: no-repeat;
}
.learn_more{
	background: #aa2236;
	background: -moz-linear-gradient(top, #aa2236 0, #801624 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0, #aa2236), color-stop(100%, #801624));
	background: -webkit-linear-gradient(top, #aa2236 0, #801624 100%);
	background: -o-linear-gradient(top, #aa2236 0, #801624 100%);
	background: -ms-linear-gradient(top, #aa2236 0, #801624 100%);
	background: linear, to bottom, #aa2236 0, #801624 100%;
	color: #fff;
	font-size: 13px;
	padding: 20px 30px;
	border-radius: 40px;
	text-transform: uppercase;
	float: left;
	font-weight: bolder;
  cursor: pointer;
}
.learn_more:hover{
	background: #939393;
    background: -moz-linear-gradient(top,#939393 0,#5e5e5e 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0,#939393),color-stop(100%,#5e5e5e));
    background: -webkit-linear-gradient(top,#939393 0,#5e5e5e 100%);
    background: -o-linear-gradient(top,#939393 0,#5e5e5e 100%);
    background: -ms-linear-gradient(top,#939393 0,#5e5e5e 100%);
    background: linear,to bottom,#939393 0,#5e5e5e 100%;
}
.side-nave-relative{
  width: 100%;
  float: left;
  position: relative;
}
.side_nav{
	float: right;
	margin-top: 25px;
	position: absolute;
	z-index: 3;
	right: -1%;
}
.side_nav ul{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}
.side_nav ul li{
	list-style: none;
	width: 100%;
	padding: 0px 0px 20px;
}

.map{
	background-image: url(../images/map.png);
	background-repeat: no-repeat;
	background-position: 90%;
	padding: 20px 20px;
}
.phone{
	background-image: url(../images/phone.png);
	background-repeat: no-repeat;
	background-position: 90%;
}
.share{
	background-image: url(../images/share.png);
	background-repeat: no-repeat;
	background-position: 90%;
	margin-top: 0;
	float: right;
	margin-right: 1em;
}
.slider_banner{
	position: relative;
	width: 100%;
	float: left;
}
.tool_tip{
	background-color: #f00;
	float: left;
}
.side_nav ul li a>span{
	display: none;
}
.map:hover{
	background-color: #e0dfdf;
	padding: 9px 46px 9px 28px;
	border-radius: 30px;
}
.map:hover span{
	display: block;
}
.side_nav a{
	font-size: 13px;
	color: #fff;
	padding: 9px 46px 9px 28px;
	display: block;
}
.side_nav a:hover{
	color: #575757;
	background-color: #e0dfdf;
    border-radius: 30px;
}
.share span{
	float: left;
}
.how_can_we_help h2{
	text-align: center;
}
.selectdiv {
    width: 100%;
    background: url(../images/arrow_drop.png) no-repeat right center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    float: left;
    height: 62px;
    background-position: 93%;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
}
.selectboxdiv {
    height: 100%;
    min-height: 27px;
    left: 0;
    right: 0;
    margin-top: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    cursor: pointer;
    top: 0;
    bottom: 0;
}
.out {
    float: left;
    margin-top: 21px;
    margin-left: 2em;
    font-family: 'Neo Sans TR Medium';
}
.how_can_we_help ul{
	float: left;
	width: 100%;
  text-align: center;
}
.how_can_we_help ul li{
	float: left;
	list-style: none;
	width: 48%;
	margin: 1%;
}
.how_can_we_help form{
	float: left;
	width: 100%;
}
.spacer{
	margin-top: 15px;
  float: none;
}
.product_news{
  width: 100%;
  float: left;
  text-align: center;
  padding: 20px;
  background-color: #f7f7f7;
  margin: 20px 0 0 0;
}
.product_news h2{color: #2b2b2b;padding: 20px 0 0 0;}
.product_news p{color: #666666;padding: 13px 0 0 0;}
.product_news a{float: none;}
.product_news ul{
	float: left;
	width: 100%;
	margin: 0 0 41px 0;
	padding: 0;
}
.product_news ul li{
	float: left;
	width: 31.33%;
	list-style: none;
	margin: 1%;
}
.product_news ul li a {
	text-align: center;
	font-size: 15px;
	color: #2b2b2b;
	display: block;
}
.image_holder{
	width: 100%;
	float: left;
	height: 230px;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 20px;
}
.product_news ul li a img{
	border-radius: 10px;
	width: 100%;
}

.product_news ul li:hover img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.product_news ul li a:hover{
	color: #801625;
}
.way_to_bank{
	float: left;
	width: 100%;
	margin-top: 30px;
}
.way_to_bank h2{
	text-align: center;
}
.way_to_bank ul{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}
.way_to_bank ul li{
	list-style: none;
	float: left;
	width: 33.33%;
	text-align: center;
	padding: 4%;
  transition: all 0.9s ease;
}
.way_to_bank ul li:hover{
  background-color: #f9f9f9;
}
.way_to_bank ul li img{
  width: 40%;
}

.way_to_bank ul li:hover img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.way_to_bank ul li h3{
  padding: 20px 0;
}
.way_to_bank ul li p{
	color: #999999;
	font-size: 13px;
	width: 100%;
	line-height: 19px;
	margin: auto;
}
.latest_updates{
	background-color: #9b8e66;
	float: left;
	width: 100%;
	/* margin-top: 2em; */
	padding: 20px 0;
}
.date{
	display: block;
	width: 100%;
	color: #e8d794;
	font-size: 12px;
	font-family: 'Conv_Neo Sans Std Regular', sans-serif;
	padding: 0 0 10px 0;
}
.news_tag{
	color: #ffffff;
}
.latest_updates .bx-wrapper .bx-pager{
	display: none!important;
}
.bg_line{
	background-color: #e8e8e8;
	float: left;
	width: 100%;
}
.how_can_we_help{
	float: left;
	width: 100%;
}
.white{
	background-color: #fff;
	float: left;
	width: 100%;
}

.leaders-wrapper{width: 100%;float: left;}

.leaders-wrapper ul{width: 100%;float: left;}
.leaders-wrapper ul li{width: 100%;float: left;background-color: #ffffff;padding: 15px;margin: 40px 0;display: table;border-radius: 30px;}

.leader-details{width: 30%;display: table-cell;vertical-align: middle;}

.leader-details h3{color: #2b2b2b;font-size: 2em;line-height: 42px;}

.leader-image{width: 40%;display: table-cell;vertical-align: middle;}

.leader-image img{

}
.leader-name{vertical-align: middle;width: 30%;display: table-cell;padding: 10px 20px;}
.leader-name h4{color: #2b2b2b;}
.leader-name p{color: #7f7f7f;padding: 15px 0;}
.leader-name a{

}
.about-join-wrapper{width: 100%;float: left;display: table;padding: 2em 0;}
.about-join-image{width: 40%;display: table-cell;vertical-align: middle;}
.about-join-image img{width: 80%;}
.about-join-details{width: 40%;display: table-cell;vertical-align: middle;padding: 10px 20px;}
.about-join-details h3{color: #2b2b2b;font-size: 3em;}
.about-join-details p{color: #7f7f7f;padding: 20px 0;}
.about-join-details a{

}
.slider_header h1{
  color: #2b2b2b;
  font-size: 3em;
  padding: 0 0 50px 0;
}
.about-us-wrapper{
  background: linear-gradient(to top, #e1e1e1 0%, #f3f3f3 100%);width: 100%;float: left;
}
.business-wrapper{width: 100%;float: left;}
.business-products-wrapper{width: 100%;float: left;display: table;position: relative;}
.business-products-links{
    width: 30%;
    padding: 2em 0px 2em 8%;
    position: relative;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    }
.business-products-links h4{font-size: 2em;color: #2b2b2b;padding: 15px 0;border-bottom: 1px solid #ccc;}
.business-products-links ul{width: 100%;float: left;padding: 2em 0;}
.business-products-links ul li{width: 100%;float: left;padding: 2px 0;}
.business-products-links ul li a{width: 100%;float: left;padding: 15px;color: #0d6f42;font-size: 14px;border-bottom-left-radius: 60px;border-top-left-radius: 60px;}
.business-products-links ul li a.active-product-list{background-color: #f1f1f1;color: #2b2b2b;}
.business-products-links ul li a:hover{background-color: #f1f1f1;color: #2b2b2b;}
.products-fixed{
}
.business-content-wrapper{width: 70%;float: left;background-color: #f1f1f1;padding: 10px 10% 10px 20px;}
.business-lists{width: 100%;float: left;padding: 2em 0;}
.business-lists ul{width: 100%;float: left;}
.business-lists ul li{width: 100%;float: left;padding: 20px 0;border-bottom: 1px solid #ccc;}
.business-image{width: 40%;border-radius: 20px;overflow: hidden;float: left;}
.business-image img{

}
.business-details{width: 60%;float: left;padding: 0px 20px 20px 20px;}

.business-details h6{color: #2b2b2b;text-transform: uppercase;font-size: 11px;}
.business-details h4{color: #0d6f42;font-size: 18px;text-transform: capitalize;padding: 9px 0 20px 0;}
.business-details p{color: #666666;line-height: 22px;}
.business-details h5{color: #0d6f42;padding: 20px 0 5px 0;}
.business-lists .business-details ul{width: 100%;float: left;display: list-item;}
.business-lists .business-details ul li{width: 100%;padding: 0;line-height: 31px;font-size: 14px;color: #2b2b2b;list-style-position: inside;border-bottom: none;list-style-image: url(../images/list-style.png);}
.business-lists .business-details ul li{width: 100%;padding: 0;line-height: 31px;font-size: 14px;color: #2b2b2b;list-style-position: inside;border-bottom: none;list-style-image: url(../images/list-style.png);}
.business-cta{width: 100%;float: left;padding: 20px 10px 10px 10px;}
.business-cta a{

}


.faqs-wrapper{
    width: 100%;
    float: left;
    padding: 30px;
}
.faqs-accordion {
    width: 100%;
}

.faqs-wrapper h2{
    color: #0e7847;
    width: 100%;
    float: left;
    padding: 15px 0 10px 0;
    margin: 15px 0 0 0;
    border-top: 1px solid #ccc;
}

.faqs-wrapper li{
  width: 100%;
  float: left;
}

.faqs-accordion .link2 {
    cursor: pointer;
    display: block;
    padding: 15px;
    color: #666666;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    float: left;
    width: 100%;
    background-color:  #ffffff;
    margin: 18px 0 0 0;
    border-radius: 25px;
}
.faqs-accordion .f-link2{
    margin: 0;
}
.faqs-accordion li:last-child .link2 { border-bottom: 0; }

.faqs-accordion li i {
    position: absolute;
    top: 16px;
    right: 12px;
    font-size: 14px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.faqs-accordion li i.fa-angle-down {

}

.faqs-accordion li.open .link2 {
    color: #ffffff;
    font-weight: 900;
    transition: all 0.4s ease;
    background-color: #2c531d;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.faqs-accordion li.open i { color: #ffffff; }

.faqs-accordion li.open i.fa-angle-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu2 {
    display: none;
    background: #ffffff;
    font-size: 14px;
    padding: 1% 15px;
    float: left;
    width: 100%;
    position:relative;
}
.submenu2 p{
    color: #767676;
    line-height: 1.7em;
}

.submenu2 li { border-bottom: 1px solid #4b4a5e; }

.submenu2 a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu2 a:hover {
    background: #b63b4d;
    color: #FFF;
}
.faqs-container{
  /* background-color: #e6e6e6; */
  width: 100%;
  float: left;
}
.personal-form{width: 100%;float: left;padding: 2em 10px;}
.personal-form h3{text-align: center;padding: 20px 0 61px 0;color: #2b2b2b;text-transform: uppercase;}
.personal-form h6{background-color: #fff;border-top: 1px solid #dddee0;border-bottom: 1px solid #dddee0;font-size: 18px;text-align: center;color: #383838;font-weight: 700;height: 61px;line-height: 61px;padding: 0 0 35px 0;width: 100%;float: left;}
.personal-form form{width: 100%;float: left;}
.half-input{width: 50%;float: left;padding: 20px;}
.half-input a{
    /* float: left; */
    margin: 0 6px 0 0;
}
  .half-input p{
    float: left;
    width: 100%;
    padding: 10px 0 1px 0;
}
.personal-form form label{display: block;color: #3f3f3f;font-family: Neo-Sans-Regular;font-size: 18px;font-weight: 700;width: 100%;float: left;padding: 0 0 15px 15px;font-family: 'Conv_Neo Sans Std Regular', sans-serif;font-size: 15px;}
.personal-form form input{-webkit-appearance: none;width: 100%;padding: 18px 30px 17px 30px;color: #545454;outline: 0;border: 0;border-radius: 50px;-webkit-box-shadow: -1px 0 24px 6px rgba(0, 0, 0, .06);-moz-box-shadow: -1px 0 24px 6px rgba(0, 0, 0, .06);box-shadow: -1px 0 24px 6px rgba(0, 0, 0, .06);float: left;}
.radio-input{

}
.personal-form form .radio-input li{width: 50%;float: left;padding: 30px 0 0 0;position: relative;}
.personal-form form .radio-input li input{width: auto;padding: 15px 15px 15px 15px;}
.personal-form form .radio-input li label{width: 100%;float: left;/* padding: 7px 0 0px 10px; */}
.personal-form form .radio-input li label p{
  width: auto;
      padding: 9px 0 0 15px;
}

.radio-input input[type=radio]:checked~.custom-radio::before {
    transform: scale(1);
}

.radio-input .custom-radio::before {
    content: "";
    width: 16px;
    height: 16px;
    background: #007945;
    position: absolute;
    top: 44px;
    left: 17px;
    border-radius: 50%;
    transform: scale(0);
    transition: all .3s ease;
}


.radio-bar-wrapper{width: 100%;float: left;}
.radio-bar-wrapper h6{

}
.form-group{width: 100%;float: left;padding: 2em 0;}
.radio-sec{width: auto;float: left;display: inline-block;}

.radio-sec::after{
  background-color: #ffffff;
  width: 10px;
  height: 3px;
  float: left;
}
.radio-button{

}
#EarnPerMonth{width: auto;padding: 15px;}
.personal-form form label.radio-button{width: auto;display: inline-block;float: left;position: relative;}
.radio-button span{

}
.radio-button p{float: left;padding: 10px 0 0 10px;}
.radio-button input[type=radio]:checked~.custom-radio::before {
    transform: scale(1);
}
.radio-button .custom-radio::before {
    content: "";
    width: 16px;
    height: 16px;
    background: #007945;
    position: absolute;
    top: 7px;
    left: 21px;
    border-radius: 50%;
    transform: scale(0);
    transition: all .3s ease;
}




.search-wrapper{width: 100%;float: left;}
.results-title{width: 100%;float: left;padding: 0 0 2em 0;}
.results-title h4{text-align: center;color: #2b2b2b;font-size: 2em;padding: 2em 0;background-color: #f7f7f7;margin: 0 0 30px 0}
.results-title h4 span{color: #0d6f42;}
.results-title h3{width: 100%;padding: 18px 30px 17px 30px;color: #545454;outline: 0;border: 0;border-radius: 50px;-webkit-box-shadow: -1px 0 24px 6px rgba(0, 0, 0, .06);-moz-box-shadow: -1px 0 24px 6px rgba(0, 0, 0, .06);box-shadow: -1px 0 24px 6px rgba(0, 0, 0, .06);float: left;}
.search-wrapper ul{width: 100%;float: left;}
.search-wrapper ul li{width: 100%;float: left;border-bottom: 1px solid #ccc;}
.search-wrapper ul li a{width: 100%;float: left;padding: 2em 0;}
.search-wrapper ul li h5{color: #2b2b2b;padding: 0 0 6px 0;}
.search-wrapper ul li p{color: #666;line-height: 22px;}
.treasury-overview{
    width: 100%;
    float: left;
    text-align: center;
}
.treasury-overview h4{
    font-size: 2em;
    color: #2b2b2b;
}
.treasury-overview p{
    padding: 20px 0;
    color: #666;
    line-height: 23px;
}
.ways-to-bank-wrapper{width: 100%;float: left;}
.progressive-progress{width: 100%;float: left;padding: 2em 0;}
.progressive-progress h2{text-align: center;padding: 2em 0;color: #2b2b2b;font-size: 1.6em;}
.progressive-progress ul{width: 100%;float: left;}
.progressive-progress ul li{width: 33.333%;display: inline-block;float: left;padding: 20px;text-align: center;}
.progressive-progress ul li img{

}
.progressive-progress ul li h6{color: #2b2b2b;font-size: 18px;padding: 20px 0 0 0;}
.progressive-progress ul li p{color: #666666;padding: 20px 0 0 0;line-height: 22px;}
.work-with-us-wrapper{width: 100%;float: left;}
.reputation-talent-wrapper {
  width: 100%;
  float: left;
  padding: 2em 0;
  border-bottom: 1px solid #ececec;
}
.reputation-talent-wrapper ul{width: 100%;float: left;}
.reputation-talent-wrapper ul li{width: 50%;display: inline-block;float: left;padding: 20px;}
.reputation-talent-wrapper ul li h4{color: #0d6f42;font-size: 1.5em;}
.reputation-talent-wrapper ul li p{padding: 15px 0;color: #666666;line-height: 22px;}
.linkedin-wrapper{width: 100%;float: left;margin:0;background-color: #f9f9f9;padding: 20px;}
.linkedin-wrapper img{width: 50%;}
.linkedin-wrapper span{width: 70%;float: left;padding: 0 0 0 30px;}
.linkedin-wrapper p{color: #666666;float: right;}

.vacancies-wrapper{
  width: 100%;
  float: left;
  background-color: #f5f5f5;
  padding: 20px;
  /* margin: 20px 0 0 0; */
}

.footer-wrapper{width: 100%;float: left;background-color: #44784a;padding: 20px 7em;}
.footer-columns{width: 100%;float: left;}
.footer-column1{width: 50%;float: left;}
.footer-column1 ul{width: 100%;float: left;}
.footer-column1 ul li{width: 100%;float: left;}
.footer-column1 ul li a{color: #ffffff;width: 100%;float: left;padding: 12px;font-size: 24px;}
.footer-column1 ul li a:hover{    color: rgba(255,255,255,.6);}
.copyright-wrapper{width: 100%;float: left;padding: 20px 12px;}
.copyright-wrapper p{color: rgba(255,255,255,.3);}
.footer-column2{width: 50%;float: left;}
.app-links{width: 100%;float: left;}
.app-links span{float: right;}
.app-links span img{width: 200px;transition: all 0.9s ease;}
.app-links span img:hover{
  opacity: 0.4;
  transition: all 0.9s ease;
}
.social-media-wrapper{width: 100%;float: left;padding: 2em 20px;}
.social-media-wrapper ul{width: 100%;float: left;text-align: right;}
.social-media-wrapper ul li{display: inline-block;padding: 2px 12px 2px 2px;}

.social-media-wrapper ul li a{
  color: #ffffff;
  font-size: 2em;
}
.social-media-wrapper ul li a:hover{
  color: rgba(255,255,255,.5);
}

.go-top {
    position: fixed;
    bottom: 17.5em;
    right: 30px;
    margin: auto;
    text-decoration: none;
    color: #ffffff;
    background-color: #801625;
    font-size: 25px;
    padding: 6px 2px 2px 2px;
    display: none;
    font-weight: bolder;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
}

.go-top p {
    display: none;
}

.go-top i {
}

.go-top:hover {
    background-color: #35090f;
    color: #ffffff;
}

.pagination{width: 100%;float: left;}
.pagination ul{width: 100%;float: left;margin: auto;text-align: center;}
.pagination ul li{display: inline-block;padding: 2px;}
.pagination ul li a{font-size: 12px;width: 25px;height: 25px;float: left;padding: 7px 0 0 0;background-color: #ffffff;color: #44784a;border: 1px solid #44784a;text-align: center;}
.pagination ul li a:hover{background-color: #44784a;color: #ffffff;border: 1px solid #44784a;}
.pagination ul li a.active-pagination{
  background-color: #44784a;
  color: #ffffff;
  border: 1px solid #44784a;
}


@media handheld, only screen and (max-width: 1700px) {
  .center_aligner{width: 90%;}
}
@media handheld, only screen and (max-width: 1320px) {
  .center_aligner{width: 100%;float: left;margin: 0;padding: 20px;}
}
@media handheld, only screen and (max-width: 1228px) {
  .left_header ul li{margin-left: 0;padding: 0 0 0 15px;}
  .right_header ul li{margin-right: 0;padding: 0 15px 0 0;}
  .mega_nav li a{padding-right: 10px;}
  .mega_nav li{margin-left: 0;padding: 0 10px 0 0;}
}
@media handheld, only screen and (max-width: 1024px) {
  .business-image{width: 40%;}
  .business-details{width: 60%;}
  .business-cta{width: 100%;}
  .business-products-links h4{font-size: 20px;}
}
@media handheld, only screen and (max-width: 960px) {
  .business-products-links{width: 100%;position: -webkit-static;position: static;padding: 20px;}
  .business-content-wrapper{width: 100%;padding: 10px;}
  .half-input{width: 100%;padding: 7px 0;}
  .personal-form form label{padding: 10px;}
  .personal-form form .radio-input li{width: 100%;padding: 15px 0 0 0;}
  .half-input a{margin: 0 6px 20px 0;}
  .results-title h4{font-size: 1em;padding: 1em 0;}
  .footer-wrapper{padding: 20px;}
}
@media handheld, only screen and (max-width: 890px) {
  .header{display: none;}
  .mobile-navigation{display: block;}
  .business-products-links{display: none;}
  .side_nav{position: static;float: left;margin-top: 0;width: 100%;}
  .side_nav ul li{width: 50%;float: left;display: inline-block;padding: 0;}
  .side_nav ul li:first-child{border-right: 1px solid #0d6f42;}
  .side_nav a{padding: 9px 38px 9px 5px;color: #0d6f42;}
  .faqs-wrapper{padding: 30px 0;}
  .how_can_we_help ul li{width: 100%;margin: 10px 0;}
  }
@media handheld, only screen and (max-width: 768px) {
  .leader-details{width: 100%;display: block;float: left;padding: 20px;}
  .leader-image{width: 100%;display: block;float: left;padding: 20px;}
  .leader-name{width: 100%;display: block;float: left;padding: 20px;text-align: center;}
  .leader-name a{width: 100%;}
  .leaders-wrapper ul li{margin: 5px 0;}
  .product_news ul li{width: 100%;margin: 5px 0;}
  .image_holder{height: auto;}
  .about-join-image{width: 100%;display: block;float: left;}
  .about-join-details{width: 100%;display: block;float: left;}
  .business-image{width: 100%;}
  .business-details{width: 100%;padding: 20px 0;}
  .about-join-wrapper{padding: 5px 0;}
  .about-join-image img{width: 100%;}
  .way_to_bank ul li{width: 100%;padding: 10px 0;}
  .product_news ul{margin: 0;}
  .how_can_we_help h2{padding: 10px 0;}
  .progressive-progress ul li{width: 100%;padding: 10px 0;}
  .reputation-talent-wrapper ul li{width: 100%;padding: 10px;}
  .product_news a{float: left;margin: 10px 0;}
  .about-join-details a{width: 100%;text-align: center;}
  .latest_updates{padding: 20px 0 100px 0;}
  .social-media-wrapper ul{text-align: center;}
  .social-media-wrapper{padding: 1em 0;}
  .footer-column1 ul li a{text-align: center;}
  .copyright-wrapper p{text-align: center;}
  .learn_more{width: 100%;text-align: center;}
  .radio-sec{width: 100%;}
  .radio-button .custom-radio::before{top: 17px;left: 17px;}
}
@media handheld, only screen and (max-width: 540px) {
  .slider_header h1{font-size: 1.4em;}
  .leader-details h3{font-size: 1em;line-height: 19px;}
  .about-join-details h3{font-size: 1.5em;}
  .footer-column{width: 100%;}
  .footer-column1{width: 100%;}
  .footer-column2{width: 100%;}
  .app-links span{width: 100%;}
  .app-links span img{width: 100%;}
}
@media handheld, only screen and (max-width: 480px) {
  .linkedin-wrapper img{width: 100%;}
  .linkedin-wrapper span{width: 100%;padding: 10px;}
}
@media handheld, only screen and (max-width: 420px) {}
